.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.test:hover {
  cursor: pointer;
}

.all-message {
  height: 100vh;
  overflow: auto;
  background: #e6ecf1;
  /* background: url(http://static.fanfou.com/img/bg/3.jpg) repeat; */
}

.all-container {
  background: wheat;
}
