.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.test:hover {
  cursor: pointer;
}

.all-message {
  height: 100vh;
  overflow: auto;
  background: #e6ecf1;
  /* background: url(http://static.fanfou.com/img/bg/3.jpg) repeat; */
}

.all-container {
  background: wheat;
}

.delete-label {
  background-color: rgba(red, green, blue, 0) !important;
}

.user-card {
  width: 220px;
}

@media screen and (max-width: 856px) {
  .user-card {
    display: none;
  }
}

.delete-icon:hover {
  color: rgb(0, 110, 255);
}

div.image.item-image {
  width: 48px !important;
}

.field.form-button {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .ui.items:not(.unstackable) > .item > .image,
  .ui.items:not(.unstackable) > .item > .image > img {
    width: 48px !important;
    padding: 0 0 0;
  }
  .ui.items:not(.unstackable) > .item {
    display: flex;
    flex-direction: row !important;
  }
  .ui.items:not(.unstackable) > .item > .image {
    margin-right: 0.7rem;
  }
  .ui.items:not(.unstackable) > .item {
    padding-top: 0.7rem;
  }

  .ui.items:not(.unstackable) > .item > .image + .content {
    padding: 0;
  }
}

.noti-button {
  margin-top: 0.1rem;
}
